<div class="wrapper clearfix">
	<div class="help-area">
		<div class="help-list">
			<div class="circle" id="circle1" data-tag="1">
				<span class="circle-span">关于注册</span>
			</div>
			<div class="circle" id="circle2" data-tag="2">
				<span class="circle-span">如何发起项目</span>
			</div>
			<div class="circle" id="circle3" data-tag="3">
				<span class="circle-span">Fundin与众筹</span>
			</div>
			<div class="circle" id="circle4" data-tag="4">
				<span class="circle-span">如何支持项目</span>
			</div>
			<div class="circle" id="circle5" data-tag="5">
				<span class="circle-span">关于众筹资金</span>
			</div>
		</div>
		
		<div class="help-item" data-tag="1">
			<p>
				1、Fundin.cn面向中国地区所有高等院校的校园社团（组织）及在校学生等所成立的校园众筹网站，欢迎所有在校大学生注册成为网站用户。
			</p>
			<p>
				2、只需填写个人姓名（或社团完整名称）、绑定邮箱及密码即可快速注册成为Fundin.cn的用户。账号一经注册成功，将自动绑定注册邮箱，注册邮箱暂时不可更改。
			</p>
			<p>
				3、Fundin.cn推行实名制使用，以便加强用户之间的互动关系、保障项目实施与众筹资金安全。非实名账号将被限于浏览网站、项目与其他用户等浏览和搜索功能操作。
			</p>
			<p>
				4、用户可以通过个人（社团）页面随时修改登录密码，并请妥善保管登录密码。登录网站时如果忘记密码，请点击忘记密码，根据提示，进行找回密码的操作。
			</p>
			<p>
				5、首次注册登录的用户，请根据网站提示，尽快完善个人（社团）资料，以便获取更好的网站使用体验，完善的资料应包括但不限于头像图片、性别、出生年月、学校年级学院等信息。
			</p>
			<p>
				6、完善的个人（社团）资料将提升发起项目的真实度，获得更多的众筹支持。
			</p>
			<p>
				7、用户之间可以通过相互关注、项目评论加强社交互动，并通过网站提供的多种分享渠道，传播项目，引起更多关注度。
			</p>
		</div>
		
		<div class="help-item" data-tag="2">
			<p>
				1、项目发起人条件（须全部满足）：
			</p>
			<p class="indent">
				a. 已满18周岁有完全民事行为能力的人，未满18周岁者请由监护人或已满18周岁者协助发起项目；
			</p>
			<p class="indent">
				b. 中华人民共和国公民，或能提供长期在中国居住证明的非中华人民共和国公民，并在网站需要时，按照网站要求，提供必要的身份认证和资质认证，根据项目内容，包括但不限于：身份证、护照、学籍信息等；
			</p>
			<p class="indent">
				c. 拥有能够在中国大陆地区接收人民币汇款的银行卡或者微信账户；
			</p>
			<p class="indent">
				d. 已仔细阅读、同意并接受Fundin.cn的《用户协议》所涉全部内容。
			</p>
			<p>
				2、目前Fundin.cn支持个人创意、社团活动、校园公益及创业项目四大板块的项目发布，其中社团组织由于其特殊性，仅支持发布社团活动板块项目。个人用户可在个人创意、校园公益与创业项目三大板块发布项目。
			</p>
			<p>
				3、在注册为正式用户后，点击“发起项目”，根据提示依次完整填写发起项目的内容，并通过页面右侧预览，观察项目呈现效果。尽可能使项目描述完整、有创意，文字、图片的缺失或模糊处理都可能导致你的项目失败，填写完成后仔细阅读《用户协议》并确认，便可发布项目接受审核。
			</p>
			<p>
				4、预设众筹金额，不得少于100元人民币，建议您根据项目的资金实际需要进行设置，不要盲目填写过高或过低金额，以保证项目成功。
			</p>
			<p>
				5、众筹奖励回报建议为项目的衍生品，与项目内容有关的回报更能吸引到大家的支持。建议设置三个以上的梯度回报，最低梯度在10元内（例如1元、2元）且各梯度间有明显的区间间隔更有效，且单个支持金额不能超过250元。多些选择能提高项目的支持率，并在项目内容中明确注明奖励回报发放的方式，促使项目众筹成功。项目内容及奖励回报均不得涉及现金、利润分红、股权、金融理财产品等相关内容。
			</p>
			<p>
				6、项目提交审核后，Fundin.cn会有专业的审核人员对项目进行基本审核。审核的内容包括：项目的完整性、项目标签是否有误、项目合理性和可行性等。审核周期通常为1个工作日，您可以在“个人（社团）页面- 我发起的项目”查看项目进度。
			</p>
			<p>
				7、项目发布后不能自行删除，发起人亦不得要求Fundin.cn删除已经发布的项目展示页面或项目信息。但发起人可在个人（社团）页面自行编辑修改项目内容和进度，因此项目一经发布请谨慎修改项目内容，保证项目顺利众筹成功。
			</p>
			<p>
				8、发起人可通过发起页面的进度更新和项目页面下端的留言互动达到众筹项目维护的目的亦可通过项目页面-项目标题下方的网络渠道分享项目。
			</p>
		</div>
		
		<div class="help-item" data-tag="3">
			<p class="indent">
				众筹，译自国外crowdfunding，即大众筹资或群众筹资。现代众筹指通过互联网方式发布筹款项目并募集资金。筹款项目成功后，项目发起人将会给予支持者回报。回报方式可以是实物，也可以是服务。用户通过网络上的平台连结起赞助者与提案者。用户募资被用来支持各种活动，包含创业募资、艺术创作、自由软件、设计发明、科学研究以及公益项目等。相对于传统的筹资方式，众筹更为开放，能否获得资金也不再是由项目的商业价值作为唯一标准。只要是用户喜欢想要参与进去的项目，都可以通过众筹方式获得项目启动的第一笔资金，为更多充满梦想与创意的人提供了无限的可能。
			</p>
			<br/>
			<p class="head">
				关于Fundin.cn
			</p>
			<p class="indent">
				Fundin.cn是目前中国关注校园的第一垂直奖励众筹平台，基于真实校园关系，实名制使用，淡化地域间隔，旨在解决大学生在个人创意实现、社团组织活动开展、公益或创业初期时面临的资源获取问题，鼓励大学生实现自己的创意和梦想，同时让更多大学生参与到他人创意实践中去。
			</p>
			<p class="indent">
				如果你是在校大学生，在Fundin.cn你可以发挥自己的创新和创意，展示自己的才能和理想，邀请大家关注、支持和参与其中，一同见证你的奇思妙想。
			</p>
			<p class="indent">
				如果你们是社团组织，在Fundin.cn你们可以实践社团的使命和愿景，不仅获得开展活动的人力物力财力，同时将收获所有同学的关注和参与。
			</p>
			<p class="indent">
				你可以在Fundin.cn发起项目时发现以下4类项目：
			</p>
			<p class="indent-2">
				个人创意项目：基于个人的创意和想法发起的项目，比如旅行、游戏、摄影或艺术创作等。
			</p>
			<p class="indent-2">
				校园公益项目：具有校园公益性质的项目，比如爱心捐赠、帮扶计划、支教行动等。
			</p>
			<p class="indent-2">
				创业项目：具有潜在商业盈利性质的项目。
			</p>
			<p class="indent-2">
				社团组织项目：以社团组织名义发起的项目。
			</p>
			<p class="indent">
				如有任何建议、疑问及投诉可通过以下方式联系我们:
			</p>
			<p class="indent-2">
				a. 点击浮动于页面右下角的意见反馈投诉图标，填写您的想法；
			</p>
			<p class="indent-2">
				b. 扫描右下角二维码关注Fundin官方微信公众号，给我们留言；
			</p>
			<p class="indent-2">
				c. 将您的想法发送电子邮件到Fund_in@163.com，我们会尽快给到您反馈。
			</p>
			
			
			
		</div>
		
		<div class="help-item" data-tag="4">
			<p>
				1、您可以通过点击项目，进入项目详情页面后，在页面右侧选择您想支持的选项，点击进行支付，Fundin.cn暂仅支持微信支付，其他支付渠道正在开通中。
			</p>
			<p>
				2、项目设置点“赞”和“关注”选项，提供除开资金支持以外的表达个性支持的渠道。
			</p>
			<p>
				3、在项目页面下方撰写留言与发起人互动，随时跟进项目进展，获得疑问解答。对项目发起支持，一经确认则视为对于该项目发起人、项目内容及奖励回报细则全面清楚知悉。
			</p>
			<p>
				4、Fundin.cn上项目以预定项目众筹的时间天数作为唯一确认项目众筹是否成功的标志。若在预定天数内提前达到发起人预设众筹金额，项目依然可以继续众筹，全部众筹资金均将支付给项目发起人，项目支持人也可以继续发起对项目的支持，超出预设金额部分也将被视为项目支持人对于项目的额外鼓励，以便发起人有更充足的资金完成众筹项目。因此不作退款处理。
			</p>
			<p>
				5、Fundin.cn鼓励项目发起人和支持人通过不同形式不同渠道宣传众筹项目，以帮助项目更快更好地达到预期金额，众筹成功。与此同时，Fundin.cn坚决杜绝任何名义性质的“刷单”，欢迎用户之间相互监督，如若属实，Fundin.cn将采取包括不限于立即停止项目完成退款、停用相关责任人账户，严重者不排除法律追诉承担相应经济损失等措施。
			</p>
			<p>
				6、项目众筹成功后，资金会直接转入发起人账户，发起人会根据网站提供的支持名单，逐一与您取得联系，并在规定时间内发放相应奖励回报。
			</p>
			<p>
				7、在项目发放奖励回报的规定时间内未收到相应回报或对回报有异议的支持人，可联系项目发起人或投诉至Fundin.cn协助解决。
			</p>
			
		</div>
		
		<div class="help-item" data-tag="5">
			<p>
				1、所有支付给Fundin.cn上项目的众筹资金均经过第三方支付渠道，并产生相应的支付渠道费用，对于众筹成功的项目，Fundin.cn将会收取1%的资金支付渠道费，用作支付第三方支付渠道的费用。未成功项目不收取任何形式的费用。
			</p>
			<p>
				2、项目众筹成功后，Fundin.cn会根据《用户协议》中的约定和发起人的总筹资金额的89%划转至项目发起人的Fundin.cn账户（除开1%的第三方支付渠道费用和10%的众筹保证金），发起人可在个人（社团）页面查询并随时发起提现，预计3～7个工作日即可到达发起人填写确认的银行账户。
			</p>
			<p>
				3、剩余10%的保证金在Fundin.cn确认发起人在规定时间内完全完成奖励回报发放后3～7个工作日内发放至发起人Fundin.cn账户，如有特殊情况，经项目发起人向网站申请，在取得项目支持人与Fundin.cn双方共同同意时，方可适当延长奖励回报。否则将面临扣除保证金风险。
			</p>
			<p>
				4、众筹项目成功后发起人可根据自身项目需要支配众筹资金，以达到预期完成项目的目的，同时应接受大众监督，如查明挪用众筹资金用于非原众筹项目之外的目的，由此产生任何损失、经济责任Fundin.cn将有权一并追诉。
			</p>
			<p>
				5、项目众筹设定时间到期后未能达到预期金额则视为项目众筹失败，失败后，用户支持的资金会原路返回到付款账户中。
			</p>
			<p>
				6、在项目产生退款的情况下，用户资金会由原路返回到付款账户中，您将于1-3个工作日收到退款。
			</p>
			<p>
				7、发起人在Fundin.cn平台上的创业板块发起的任何项目，均视为潜在的商业盈利行为，商业项目众筹成功后，网站将自动扣除众筹所得总金额的3%作为平台费收取，该费用不包括资金渠道费用，仅作为平台服务费收取，不承担相应的担保及法律连带责任。
			</p>
			
		</div>
		
	</div>
</div>

<script type="text/javascript">
	(function($, window){
		$(".circle").on('click', function(){
			$(this).addClass('selected').siblings(".circle").removeClass('selected');
			$(".help-item[data-tag=" + $(this).attr('data-tag') + "]")
				.show().siblings(".help-item").hide();
		});
		
		$("#circle3").trigger('click');
	})(jQuery, window);
</script>