#set($layout = "/layout/blank.vm") 

<div class="page-mask"></div>
<div class="page-mask-light"></div>

<!-- 消息提示框 -->
<div class="message-block">
	<img src="/static/img/alert-x.png" style="vertical-align: middle;">
	<span id="message-content" style="font-size: 13px;padding: 8px;"></span>
</div>

<img class="reset-logo" src="/static/img/logo.png" alt="Fundin">

<div class="reset-box">

	<h3>请输入新密码</h3>
	<br/>
	<div class="info-content" id="forget-pw-content" style="display: block;">
		        
		        <div class="form-item">
		            <label class="label"><span class="text-red">*</span>新密码</label>
		            <input class="text" type="password" id="newPasswdInput" 
		            	style="width: 360px;" maxlength="25">
		        </div>
		        
		        <div class="form-item">
		            <label class="label"><span class="text-red">*</span>确认新密码</label>
		            <input class="text" type="password" id="newPasswdComfirmInput" 
		            	style="width: 360px;" maxlength="25">
		        </div>
		        
		        <input id="key" type="hidden" value="$key">
		        <input id="resetPasswdBtn" type="button" class="info-btn" value="重置密码">
	</div>
</div>

<script type="text/javascript" src="/static/js/reset.js"></script>
