<div class="wrapper clearfix">
	<div class="state-area">
		<h2>用户协议</h2>
		<p>
			Fundin.cn是成都众趣互动科技有限公司运营的网络平台，本协议的双方为成都众趣互动科技有限公司（下列简称“Fundin.cn”）与Fundin.cn注册用户（下列简称“您”或用户）。在使用Fundin.cn 提供的服务之前，请务必认真阅读本协议的全部内容。本协议一经点击确认，即在您与我们之间产生法律效力。Fundin.cn有权随时修改本协议文本中的任何条款，一旦修改了本协议，Fundin.cn将会以公告的形式发布通知。修改后的协议自发布之日起生效。如果用户修改发布后继续使用Fundin.cn服务，则表示该用户同意遵守对本协议所作出的相应修改。因此，请用户务必定期查阅本协议，以确保了解所有关于本协议的最新修改。
		</p>
		<h4>一、基本定义</h4>
		<p>1、项目发起人：在Fundin.cn平台注册并发起众筹项目的高校社团组织和在校大学生等。</p>
		<p>2、项目支持人：在Fundin.cn平台注册并参与众筹项目的高校社团组织和在校大学生等。</p>
		<p>3、募集金：项目发起人在Fundin.cn平台发起的项目，由Fundin.cn作为代收款方，收取项目支持人基于项目投资内容而支付的众筹金额。项目众筹成功后，Fundin.cn留存项目众筹总金额的10%作为保证金，在项目发起人兑现对项目投资人的奖励回报承诺后，网站将该保证金返还给项目发起人。如果项目发起人未兑现对项目支持人的奖励回报承诺，则Fundin.cn有权直接支配该保证金以用于兑现对项目投资人的奖励回报承诺。</p>
		<p>4、资金支付渠道费：为保证众筹资金安全，众筹项目项下资金均通过第三方支付公司代为划转，由此产生的支付渠道费由项目发起人负担，项目众筹成功后，Fundin.cn将扣除项目众筹总金额的1%作为资金支付渠道费，并支付给第三方支付机构。如众筹项目不成功，则不收取该笔费用，资金无息退还给项目支持者。</p>
		<p>5、创业项目平台费：项目发起人在Fundin.cn平台上的创业板块发起的任何项目，均视为潜在的商业盈利行为，创业项目众筹成功后，网站将自动扣除众筹所得总金额的3%作为平台费收取，该费用不包括资金渠道费用，仅作为平台服务费收取，不承担相应的担保及法律连带责任。</p>
		<h4>二、用户协议构成及效力</h4>
		<p>
			当用户使用Fundin.cn时，须遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国宪法》、《中华人民共和国合同法》、《中华人民共和国慈善法》、《中华人民共和国电信条例》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《中华人民共和国保守国家秘密法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国著作权法》及其实施条例、《互联网著作权行政保护办法》等。
		</p>
		<p>同时用户协议构成具体包括但不限于：</p>
		<p>1、所有Fundin.cn已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力。</p>
		<p>2、Fundin.cn有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在网站上公示，即产生法律效力。</p>
		<p>3、在使用Fundin.cn提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向网站咨询。本协议生效后，您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议。</p>
		<p>4、您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用Fundin.cn为您提供的服务。如您继续使用Fundin.cn为您提供的服务，则表示您同意并接受本协议及各类规则的约束。</p>
		<h4>三、用户注册及帐号安全</h4>
		<p>
			1、用户应提供及时、详尽、准确的个人资料，并不断及时更新注册时提供的个人资料，保持其详尽、准确。所有用户输入的资料将引用为注册资料。Fundin.cn不对因用户提交的注册信息不真实或未及时准确变更信息而引起的问题、争议及其后果承担责任。
		</p>
		<p>
2、用户不应将其帐号、密码转让、出借或告知他人，供他人使用。如用户发现帐号遭他人非法使用，应立即通知Fundin.cn。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用的，Fundin.cn不承担任何责任。凡使用您的用户名和密码登陆Fundin.cn进行的一切操作，均视为您本人的行为，一切责任由您本人承担。		</p>
		<h4>四、项目发起人的资格</h4>
		<p>
			1、项目发起人应为Fundin.cn的注册用户，并完全理解和接受本协议。
		</p>
		<p>
			2、为保障参与众筹项目的用户的基本权利，Fundin.cn会对发起人进行必要的身份认证和资质认证（实名制），包括但不限于身份证、营业执照、住址及学籍信息等的内容的认证，Fundin.cn保留通过以上信息进一步确认发起人身份的权利。
		</p>
		<p>
			3、项目发起人应当拥有在中国大陆地区开户并接收人民币汇款的银行卡、微信账户。
		</p>
		<h4>五、项目发起要求</h4>
		<p>
			1、Fundin.cn发起项目，应明确具体的开始时间和结束时间。截止项目结束时间，如项目实际筹得金额低于预设众筹金额，则项目众筹失败；如项目项目实际筹得金额等于或大于预设众筹金额，则项目众筹成功。
		</p>
		<p>
			2、不得抄袭、盗用他人的成果发起众筹项目，凡在本平台发起的项目，禁止在其它同类性质平台同时进行众筹，一经发现，立即下线在本平台上发起的项目。
		</p>
		<p>
			3、发起项目不得包含非法、色情、淫秽、暴力等内容，不得含有攻击性、侮辱性言论，不得含有违反国家法律法规、政策的内容及其他Fundin.cn认为不适宜的内容。发起项目不得涉及种族主义、宗教极端主义、恐怖主义等内容。
		</p>
		<p>
			4、为更好的募集资金，发起人需对项目进行必要的介绍，通过预览撰写完整有吸引力的项目内容，建议应包括但不限于发起者介绍、发起目的、实施过程等描述。同时，应向项目支持者充分说明项目可能存在的所有风险及完成的挑战，以便于Fundin.cn用户对项目有全面充分的了解，从而独立慎重作出是否参与的决定。Fundin.cn将对所有正常发布的项目进行基本审核，但并不能被认定为项目获得Fundin.cn担保，且不承担连带责任。
		</p>
		<p>
			5、项目应内容完整、合理，具有可行性。不应与第三方存在任何权利纠纷，否则因此导致的一切损失（包括Fundin.cn因此被第三方权利追索而遭受的一切损失）由发起方承担，与Fundin.cn无关。
		</p>
		<p>
			6、在项目发起后的运行过程中，发起人应及时回复其他用户的提问，与项目支持人进行充分互动，促成项目众筹成功。
		</p>
		<p>
			7、发起人应当对发起的项目及时更新进展情况。必要的时候，根据项目的具体情况，对项目的后续进展在一定时间内持续更新和跟进。
		</p>
		<h4>六、项目回报</h4>
		<p>
			1、项目发起人应明确项目众筹成功后的回报时间。
		</p>
		<p>
			2、成功的众筹项目，发起人应及时兑现对项目支持人承诺的回报；失败的众筹项目，Fundin.cn将会把众筹款项及时退还参与人，项目发起人可根据自身实际情况就项目众筹失败的原因等对项目的参与人作出解释。
		</p>
		<p>
			3、如项目发起人与项目支持人在兑现回报过程中发生纠纷，一切责任由项目发起人承担，如因此给Fundin.cn造成经济或名誉损失，项目发起人应赔偿损失、恢复名誉。
		</p>
		<p>
			4、如项目发起人在兑现对项目支持人的回报过程中，与第三方（包括但不限于物流公司）发生纠纷，一切责任由项目发起人本人承担，与Fundin.cn无关。
		</p>
		<p>
			5、项目发起人保证向项目支持人提供的奖励回报的真实性和质量，并及时履行回报义务和在项目页面更新回报发放进度。如有发货错误、漏发或支持人收到的回报存在严重质量问题的，发起人应在七个工作日内免费予以重发或补发。发起人无法重发或补发的、或者质量存在严重问题，应退相应款项给支持人。没有正当理由拒不向支持人履行奖励回报义务的，遭到支持者投诉的，经查实后，Fundin.cn有权在网站上进行公布和披露，并扣除保证金。
		</p>
		<h4>七、信息传播</h4>
		<p>
			1、用户通过任何Fundin.cn提供的服务上传、张贴、发送(通过消息或任何其它方式传送)的文本、文件、图像、照片、视频、声音、音乐、其他创作作品或任何其他材料，无论系公开还是私下传播，均由用户和内容提供者承担责任，Fundin.cn不对该等内容的正确性、完整性、品质或版权作出任何保证。
		</p>
		<p>
			2、根据网站运营和营销传播需要，Fundin.cn不定期选择部分发布的项目，包括但不限于其名称、发起人、文本、图像照片及视频等用作于相应的营运和推广目的，以上为Fundin.cn为用户提供的附加服务，不需向用户支付也不会向用户收取相关名目费用。
		</p>

		<h4>八、网络安全</h4>
		<p>
			用户在使用Fundin.cn时，未经允许，进入计算机信息网络或者使用计算机信息网络资源的；对计算机信息网络功能进行删除、修改或者增加的；对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；故意制作、传播计算机病毒等破坏性程序的以及其他危害计算机信息网络安全的行为。Fundin.cn有权要求该用户改正或直接采取一切必要措施以减轻和消除不当行为造成的影响，并为此行为造成的一切结果承担法律责任和经济损失。
		</p>
		<h4>九、协议终止</h4>
		<p>1、以下任一情形出现，本协议即终止</p>
		<p class="indent">（1）发起的项目违反了国家法律法规、政策或Fundin.cn的平台使用规则或本协议约定，Fundin.cn停止为项目发起人提供服务的；</p>
		<p class="indent">（2）项目发起人不同意接受本协议约定（含Fundin.cn发布的各类规则），或停止使用Fundin.cn为项目发起人提供的服务的；</p>
		<p class="indent">（3）不符合本协议约定的发起项目的资格的；</p>
		<p class="indent">（4）其他原因导致本协议终止的。</p>
		<p>2、本协议终止后，不影响用户因在本协议终止前的行为应承担的义务和责任。</p>
		<h4> 十、担保与保证</h4>
		<p>
			1、用户支持并使用Fundin.cn上发布的项目时的风险由用户个人承担。Fundin.cn不提供任何明示或默示的担保或保证，包括但不限于商业适售性、特定目的的适用性及未侵害他人权利等的担保或保证。
		</p>
		<p>
			2、用户通过Fundin.cn网站下载或取得任何资料自负风险，因任何资料的下载而导致的用户电脑系统损坏或数据流失等后果，由用户自行承担。
		</p>
		<p>
			3、用户经由Fundin.cn获知的任何建议或信息(无论书面或口头形式)，除非使用协议有明确规定，将不构成Fundin.cn对用户的任何保证。
		</p>
		<h4>十一、本协议的解释权归Fundin.cn所有</h4>
	</div>
</div>