@charset "UTF-8";

footer.weui_tabbar {
	position: fixed;
}

.foot-icon {
	text-align: center;
	line-height: 32px;
}

.weui_tabbar_item.weui_bar_item_on .foot-icon {
	color: #ff6c00;
}

.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
	color: #ff6c00;
}

.nav_bar {
	font-size: 16px;
	position: fixed;
	z-index: 10;
	top: 0;
	margin-top: -1px;
	width: 100%;
}

.weui_cell_select .weui_select {
	width: 92%;
	padding-right: 15px;
}

.weui_cell_select .weui_cell_primary:before {
	content: " ";
	display: inline-block;
	height: 24px;
	border: 2px solid #ff6c00;
	position: relative;
	top: 8px;
}

.panel_list {
	width: 100%;
}

.pannel_head {
	display: inline-block;
	color: black;
	font-size: 12px;
}

.pannel_head img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	vertical-align: middle;
}

.pannel_head span {
	margin-left: 4px;
}

.weui_panel_hd .time-tip {
	color: #cecece;
	font-size: 10px;
	position: relative;
	top: 1px;
	left: 4px;
}

.weui_media_box .weui_media_desc {
	-webkit-line-clamp: 3;
}

.weui_media_box.weui_media_text .weui_media_info {
	margin-top: 0;
	display: flex;
	color: #999;
	line-height: 15px;
}

.weui_media_info .weui_media_info_meta {
	flex: 1;
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
}

.weui_media_info .weui_media_info_meta b {
	color: #ff6c00;
}

.panel .hd {
	padding: 2em 0;
	text-align: center;
}

h1.page_title {
    font-size: 1.5em;
    color: #ff6c00;
    font-weight: 400;
    margin: 0 15%;
}

img.logo {
	width: 70%;
	margin: 0 auto;
}

.check-block {
	margin: 8px 0;
	padding-left: 12px;
}

.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before {
    color: #ff6c00;
}

.weui_btn_ext {
	background-color: #ff6c00;
}

.weui_btn_ext:not(.weui_btn_disabled):visited {
	color: #FFFFFF;
}

.weui_btn_ext:not(.weui_btn_disabled):active {
	color: rgba(255, 255, 255, 0.4);
	background-color: #ff5e00;
}

.btn-ctrl {
	width: 80%;
	margin: 16px auto;
}

.tip {
	text-align: center;
	font-size: 0.8em;
}

.tip .tip-link {
	color: #999;
}

select[name=reg-name] {
	height: 24px;
	line-height: 24px;
	padding-left: 0;
}

.toast_warn:before {
    content: '\EA0B';
}

.pro_head {
	color: #666;
    position: relative;
    padding: 8px;
    background-color: #fff;
}

.lb:after {
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.pro_head .time-tip {
	position: absolute;
    right: 8px;
    top: 12px;
    font-size: 10px;
    color: #999;
}

.pro_title {
	position: relative;
    padding: 8px 0;
    background-color: #fff;
}

.pro_title h2 {
	font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
    position: relative;
    word-wrap: break-word;
    text-align: center;
}

.pro_infos {
	position: relative;
    padding: 8px 0;
    font-size: 12px;
    color: #999;
    display: flex;
    width: 100%;
    background-color: #fff;
}

.pro_infos span {
	flex: 1;
	-webkit-flex: 1;
	-webkit-box-flex: 1;
    display: block;
    text-align: center;
    position: relative;
    vertical-align: middle
}

.pro_infos span strong {
    margin: 0 2px;
    font-size: 15px;
    color: #ff6c00;
    display: block;
    font-weight: 600;
    line-height: 1.2;
}

.pro_infos span strong small {
    font-size: 12px;
    padding-left: 2px;
    font-weight: 400;
}

.pro_infos span:after {
	content: " ";
	height: 24px;
	border-right: 1px solid #e5e5e5;
	position: absolute;
	right: 0;
	top: 7px;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
}

.pro_intro {
	position: relative;
	margin: 8px 0;
	background-color: #fff;
	padding: 8px 16px;
}

.pro_intro img {
	max-width: 90%;
	margin: 0 auto;
	display: block;
}

.pro_intro p {
	padding: 8px;
	font-size: 15px;
	word-wrap: break-word;
}

.pro_content {
	position: relative;
	margin: 8px 0;
	padding: 8px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    background-color: #fff;
}

.pro_content img {
	max-width: 90%;
	margin: 0 auto;
	display: block;
}

.pro_bar {
	position: fixed;
    bottom: 0;
    width: 100%;
    display: table;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.pro_bar .bar-item {
	width: 25%;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #999;
    position: relative;
    font-size: 12px;
}

.pro_bar .bar-item small {
    color: #ff6c00;
    vertical-align: middle;
}

.pro_bar .btn-support {
 	width: 50%;
}

.btn-support .btn-succ {
	background-color: #ff6c00;
}

.btn-support .btn-fail {
	background-color: #979797;
}

.c-btn {
	font-size: 17px;
}

.bar-icon {
	text-align: center;
	line-height: 32px;
}

.bar-icon.active {
	color: #ff6c00;
}

.pro_repay {
	position: relative;
	margin: 8px 0;
}

.pro_repay .repay_hd {
	font-size: 15px;
	padding: 8px 16px;
}

.pro_repay .repay_box {
	padding: 8px 16px;
}

/* .pro_repay .repay_title {
	font-size: 15px;
	position: relative;
	padding: 2px 0;
}

.pro_repay .repay_title strong {
	color: #ff6c00;
} */

.pro_repay .repay_img {
	margin-right: 0 !important;
	margin-left: .8em;
}

/* .pro_repay .repay_num {
	font-size: 12px;
	color: #cecece;
	position: absolute;
    right: 0;
    top: 3px;
} */

.pro_commment {
	position: relative;
	margin: 8px 0;
}

.pro_commment .comment_hd {
	font-size: 15px;
	padding: 8px 16px;
}

.pro_commment .comment_hd strong {
	color: #ff6c00;
	padding: 4px;
}

.pro_commment .comment_box {
	padding: 8px 8px 8px 16px;
}

.pro_commment .comment_title {
	font-size: 12px;
	line-height: 30px;
}

.pro_commment .comment_user {
	display: inline-block;
    color: #000;
}

.pro_commment .comment_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.pro_commment .comment_user span {
    margin-left: 4px;
    vertical-align: middle;
}

.pro_commment .c-time {
	float: right;
	color: #cecece;
	padding: 0 4px;
}

.pro_commment .c-icon {
	float: right;
	color: #cecece;
	line-height: 32px;
}

.c-icon.c-delete {
	font-size: 20px;
}

.c-icon.c-comment {
	font-size: 24px;
}

.share-body {
    position: relative;
    padding: 8px;
    color: #666
}

.share-body .share-row {
    width: 100%;
    display: flex;
}

.share-body .share-row .s-item {
    display: block;
    flex: 1;
	-webkit-flex: 1;
	-webkit-box-flex: 1;
    text-align: center;
    color: #999;
    font-size: 12px;
}

.share-body .share-row .s-item .s-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    display: block;
    margin: 0 auto;
    background-size: 50px;
}

.icon-weibo {
	background: #ffffff url("../image/share-group.png") no-repeat;
	background-position: 0 0;
}

.icon-qq {
	background: #ffffff url("../image/share-group.png") no-repeat;
	background-position: 0 -100px;
}

.icon-wechat {
	background: #ffffff url("../image/share-wechat.png") no-repeat;
}

.s-cancle {
	padding: 4px 0;
	font-size: 16px;
}

#share-tip {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	z-index: 1;
}

.pro_repay .repay_cell {
	padding: 0;
}

.pro_repay .repay_bd {
	padding: 8px 16px;
	width: 100%;
}

.pro_repay .repay_count {
	font-size: 12px;
	color: #cecece;
	position: relative;
	left: 8px;
}

.pro_repay .weui_media_desc {
	-webkit-line-clamp: 5;
}

.pay_bar {
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: table;
    padding: 8px;
}

.pay_bar .bar_amt {
	display: table-cell;
    vertical-align: middle;
    position: relative;
    font-size: 15px;
}

.pay_bar .bar_amt small {
	color: #ff6c00;
    vertical-align: middle;
}

.pay_bar .bar_now {
	display: table-cell;
	width: 32%;
	line-height: 2;
	position: relative;
	right: 16px;
	font-size: 17px;
}

.user_panel .weui_media_appmsg_thumb {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.user_panel .weui_media_desc {
	-webkit-line-clamp: 1;
}

.user_panel .weui_cell_ft:after {
	content: " ";
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 8px;
	width: 8px;
	border-width: 2px 2px 0 0;
	border-color: #C8C8CD;
	border-style: solid;
	position: relative;
	top: -1px;
	margin-left: .3em;
}

.weui_cells {
	font-size: 16px;
}

.top_bar {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    z-index: 1;
}

.top_bar .bar_back {
	position: absolute;
	left: 8px;
}

.top_bar .bar_back:before {
    content: " ";
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 8px;
	width: 8px;
	border-width: 0 0 2px 2px;
	border-color: #C8C8CD;
	border-style: solid;
	position: relative;
	top: -1px;
	margin-left: .3em;
}

.top_bar .bar_title {
	width: 100%;
	font-size: 16px;
	text-align: center;
}

.weui_cell_ft {
	font-size: 14px;
}

.letter_bd .weui_media_box .weui_media_title {
	font-size: 16px;
	margin: 4px 0;
	white-space: normal;
}

.weui_dialog .weui_cell {
	width: 100%;
}

.weui_dialog .multi-cells {
	margin-top: 0;
	display: flex;
}

.weui_dialog .multi-cells .weui_cell_primary {
	position: relative;
}

.weui_dialog .multi-cells .select_cell:after {
	content: " ";
	height: 44px;
	border-right: 1px solid #e5e5e5;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
}

.checkbox-group {
	float: left;
    width: 75%;
}

.checkbox-group input[type=checkbox] {
    cursor: pointer;
    float: left;
    position: relative;
    top: 14px;
    width: 16px;
}

.checkbox-group label.forCheckBox {
	display: block;
	font-size: 13px;
	line-height: 36px;
	cursor: pointer;
	padding: 2px 8px;
}

.plus {
	margin-top: 5px;
	width: 45px;
    height: 45px;
    border: 2px solid #FBAB73;
    border-radius: 50px;
}

.plus:after {
	width: 2px;
    height: 39.5px;
}

.plus:before {
	width: 39.5px;
    height: 2px;
}

.plus:after,.plus:before {
	content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #FBAB73;
}

.plus a{
	width: 45px;
    height: 45px;
}

.cate-list {
    padding: 5px 0;
}

.cate-list span {
    display: inline-block;
    width: 30%;
    height: 26px;
    border: #ccc solid 1px;
    border-radius: 4px;
    line-height: 22px;
    text-align: center;
    margin: 0 1px;
    cursor: pointer;
    font-size: 14px;
}

.cate-list span.selected {
    border: #FF6C00 solid 2px;
}

.select-img {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #ff6c00;
    color: #fff;
    opacity: 0.8;
}

.select-img input {
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    line-height: 32px;
    width: 80px;
}

.cover-img{
    clear: both;
    margin: 24px auto 0;
    width: 150px;
    display: block;
}

.text-red {
    color: #f00;
}

/* .repay-img {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #ff6c00;
    color: #fff;
    opacity: 0.8;
} */

.repay-img input {
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    line-height: 32px;
    width: 80px;
}

.repay-img-entity {
    width: 120px;
    display: none;
    position: relative;
    margin-left: 16px;
}

.repay-img-entity .img-entity {
    vertical-align: middle;
    width: 120px;
}

.repay-img-entity .remove-x {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: none;
}

.repay-group .repay-item .repay-img-entity:hover .remove-x {
	display: block;
}

.vcode {
	line-height: 2;
	font-size: 15px;
}

.login-third {
	display: block;
	text-align: center;
	margin: 24px auto;
}

.login-wx {
    display: block;
    text-align: center;
    color: #999;
    font-size: 12px;
}

.login-wx-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    display: block;
    margin: 0 auto;
    background-size: 50px;
}

.invite {
	float: right;
    margin-top: -40px;
    margin-right: 10px;
}

.weui_btn_primary {
	background-color: #ff6c00;
}